.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;

  @mixin respond-to desk {
    padding: 80px 20px 40px;
  }
}

.brand {
  display: block;
  width: 50%; 
  text-decoration: none;
  transition: $time;

  @mixin respond-to desk {
    width: 25%;
  }
      
  &:hover {
    opacity: .5;
  }

  & img {
    fill: #8d8d8d;
  }

}